<%= turbo_frame_tag "flash" do %>
  <% if flash.any? %>
    <div class="">
      <% flash.each do |type, message| %>
        <div popover class="flash <%= type == 'notice' ? 'alert--positive' : 'alert--negative' %>" style="--flash-position: 1rem;" data-controller="element-removal" data-action="animationend->element-removal#remove" role="alert">
          <%= image_tag type == 'notice' ? 'circle-check.svg' : 'circle-x.svg' , class: "#{ type == 'notice' ? 'colorize-positive' : 'colorize-negative'  }", size: 20, aria: { hidden: true } %>
          <%= tag.span message %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
