<details id="<%= dom_id(category) %>" class="menu__item">
  <summary><%= category.name %></summary>
  <div class="menu">
    <div class="menu__group">
      <% category.notes.each do |note| %>
        <%= link_to note.title, category_note_path(category, note), class: "menu__item" %>
      <% end %>
    </div>
  </div>
</details>
